<%- include('partials/header') %>
<div class="container">
    <form action="/user/login" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input name="username" type="text" class="form-control" id="username" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input name="password" type="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<%- include('partials/footer') %> 